@model IEnumerable<WebApplication3.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
